* {
  font-family: serif;
  box-sizing: border-box;
  /* make the font family united sarif*/
}
body{
  display: flex;
  align-items: center;
  flex-direction: column;
}
div {
  display: block;
}
nav{
  align-self: stretch;
  background-color: blue;
}
nav a {
  color: #fff;
  padding: 1rem;
}
aside p {
  margin: 0;
  text-align: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 4rem;
  font-weight: 800;
}
p {
  margin: 0 0 1em;
}

nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  
  /* margin will keep the underlines from merging together if spacing is tight */
  margin: 0 .5rem;
  /* the padding determines how far the border is below the content*/
  padding: 1rem;
  font-size: 1.75rem;
  white-space: nowrap;
  user-select: none;
  
/*   border: 1px solid blue; */
}
nav a::after {
  content: "";
  height: 3px;
  background-color: white;
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  
  transition: transform 200ms ease;
  transform-origin: right;
}
nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 600ms ease;
}
.hero h1 {
  color: rgb(0,63,162);
  margin: 0;
}
.hero p{
  color: white;
  font-size: 1.5rem;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.hero {
  position: relative;
}
.hero .overlay {
  background: linear-gradient(to bottom, rgba(0,0,0,.5),transparent 80%);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero .text-wrapper {
  position: absolute;
  top: 60%;
  text-align: center;
  width: 100%;
  padding: 0 1rem;
}
.cards {
  display: flex;
  gap: 2rem; 
  margin: 12rem 1.5rem 0 1.5rem;
}
.card {
  position: relative;
}
a {
  cursor: pointer;
}
.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;

  transition: opacity 300ms ease;
}
.cards .overlay p {
  margin: 0;
  padding: 0.5rem;
  color: gray;
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.card:hover .overlay {
  opacity: 1;
}

.cards .overlay span {
  display: block;
  text-align: center;
  font-size: 3rem;
}

.cards .overlay:hover {
  opacity: 1;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}